<a href="https://colab.research.google.com/github/Linda-Agesa/Predicting-Individual-Bank-Account-Owners/blob/master/Week2_Financial_Inclusion_Analysis_East_Africa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analysis of Financial Inclusion in East African Countries

##Context of the Research

> Financial Inclusion remains one of the main obstacles to economic and human development in Africa. For example, across Kenya, Rwanda, Tanzania, and Uganda only 9.1 million adults (or 13.9% of the adult population) have access to or use a commercial bank account.

>Traditionally, access to bank accounts has been regarded as an indicator of financial inclusion. Despite the proliferation of mobile money in Africa and the growth of innovative fintech solutions, banks still play a pivotal role in facilitating access to financial services. Access to bank accounts enables households to save and facilitate payments while also helping businesses build up their credit-worthiness and improve their access to other financial services. Therefore, access to bank accounts is an essential contributor to long-term economic growth.

##Problem Statement

>The research problem is to figure out how we can predict which individuals are most likely to have or use a bank account. Our solution will help provide an indication of the state of financial inclusion in Kenya, Rwanda, Tanzania, and Uganda, while providing insights into some of the key demographic factors that might drive individuals’ financial outcomes.



> In order to work on the above problem, we need to do the following:

1. Define the question, the metric for success, the context, experimental design taken and the appropriateness of the available data to answer the given question
2. Find and deal with outliers, anomalies, and missing data within the dataset.
3. Plot univariate and bivariate summaries recording your observations.
4. Implement the solution by performing the respective analysis i.e. reduction, modeling, etc.
5. Challenge your solution by providing insights on how you can make improvements.

##Research Question

> What are the demographic factors help to determine whether an individual has or uses a bank account or not?

   +  Here we test the variables that are signicant either negatively or positevely in  determining their relationship with dependent variable ('Has a bank account or not').

## Hypothesis Statements

It is popular belief that the population with a higher  level of education have a greater likelihood of seeking financial services from banks than people with no educational background or little educational experience.

According to the repository linked below,  a person with a higher level of education has a better level of understanding of banking products and services, they are able to communicate their needs to their service providers or may have higher levels of income all which would drive a person to seek financial services from a bank, the more likely they are to have a bank account. 

(http://erepository.uonbi.ac.ke/bitstream/handle/11295/89872/Maina_Factors%20influencing%20uptake%20of%20banking%20services%20in%20rural%20centers%20for%20Agricultural%20development.pdf?sequence=3) 

We seek to test this notion and determine whether the level of education a person obtains is signicant in determining whether or not they own and use a bank account.



---



#### Null Hypothesis
 
$H_0 : Level of Education   =   Significant$

#### Alternative Hypothesis

$H_1 : Level of Education$    $  !=  $     $Significant$



---

## Metrics for Success

- To determine the factors that determine the state of financial inclusion in Kenya, Rwanda, Tanzania and Uganda. 

- To design a model with an 88% effeciency in its prediction of individuals who have/ do not have bank accounts.

- Conclude if the a person's level of education is significant in determining whether they will seek financial services from a bank.

## Appropriateness of Available Data

- The data contains demographic information and the financial services used by individuals across East Africa. 

- The data is contains the information needed for investigation to answer our research question.

### Loading libraries and files to our Environment

In [0]:
# Loading the libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Loading the decription table
# This contains the description of the variables in our dataframe

description_df = pd.read_csv('http://bit.ly/VariableDefinitions')

description_df

      Variable Definitions                                         Unnamed: 1
0                  country                         Country interviewee is in.
1                     year                           Year survey was done in.
2                 uniqueid             Unique identifier for each interviewee
3            location_type                     Type of location: Rural, Urban
4         cellphone_access  If interviewee has access to a cellphone: Yes, No
5           household_size               Number of people living in one house
6        age_of_respondent                         The age of the interviewee
7     gender_of_respondent                Gender of interviewee: Male, Female
8   relationship_with_head  The interviewee’s relationship with the head o...
9           marital_status  The martial status of the interviewee: Married...
10         education_level  Highest level of education: No formal educatio...
11                job_type  Type of job interviewee has: Farming and Fishi...

In [0]:
#We will now load the dataset to our environment

financial_df = pd.read_csv('http://bit.ly/FinancialDataset')

##Data Understanding and Data Cleaning

In [6]:
# Display the contents of the first five records in the dataset

financial_df.head()

  country  year  ...              Level of Educuation                Type of Job
0   Kenya  2018  ...              Secondary education              Self employed
1   Kenya  2018  ...              No formal education       Government Dependent
2   Kenya  2018  ...  Vocational/Specialised training              Self employed
3   Kenya  2018  ...                Primary education  Formally employed Private
4   Kenya  2018  ...                Primary education        Informally employed

[5 rows x 13 columns]